.space {
  margin-top: 100px;
}
/* Container chứa danh sách phim */
.row__posters {
  display: flex; /* Xếp hàng ngang */
  overflow-y: hidden; /* Ẩn cuộn dọc */
  overflow-x: scroll; /* Cho phép cuộn ngang */
  padding: 20px; /* Tạo khoảng hở để khi zoom ảnh không bị cắt */

  /* Ẩn thanh cuộn cho Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Ẩn thanh cuộn cho IE, Edge và Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth; /* Cuộn mượt mà */
}
.row__posterss {
  overflow-y: hidden; /* Ẩn cuộn dọc */
  overflow-x: scroll; /* Cho phép cuộn ngang */
  padding: 20px; /* Tạo khoảng hở để khi zoom ảnh không bị cắt */

  /* Ẩn thanh cuộn cho Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Ẩn thanh cuộn cho IE, Edge và Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth; /* Cuộn mượt mà */
}
/* Từng bức ảnh phim */
.row__poster {
  width: 150px;
  object-fit: contain;
  max-height: 250px; /* Chiều cao cố định */
  margin-right: 10px; /* Khoảng đen nhỏ giữa các ảnh */
  transition: transform 450ms; /* Hiệu ứng chuyển động mượt trong 0.45s */
  cursor: pointer;
}

/* Hiệu ứng khi di chuột vào ảnh */
.row__poster:hover {
  transform: scale(1.1); /* Phóng to lên 1.1 lần */
  opacity: 1;
  z-index: 10; /* Đảm bảo ảnh đang hover nổi lên trên các ảnh khác */
}
